In [21]:
import time
import pandas as pd
# import numpy as np
import matplotlib.pyplot as plt

In [22]:
pd.read_csv("chicago.csv")

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [23]:
CITY_DATA = { 'Chicago': 'chicago.csv',
              'New York City': 'new_york_city.csv',
              'Washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to       handle invalid inputs
    city = input('Please enter Chicago, New York City or Washington:')
 
    # get user input for month (all, january, february, ... , june)
    month = input('Please enter a month January, February, March, April, May, June or all: ')

    # get user input for day of week (all, monday, tuesday, ... sunday)
    day = input('Please enter a day of the week Monday, Tuesday.. or all')

    print('-'*40)
    return city, month, day

In [24]:
filters = get_filters()

Hello! Let's explore some US bikeshare data!
----------------------------------------

In [25]:
filters

('Chicago', 'all', 'all')

In [26]:
day = filters[2]
month = filters[1]
city = filters[0]
city, month, day

('Chicago', 'all', 'all')

In [27]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])

    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['Month'] = df['Start Time'].dt.month_name()
    df['Weekday'] = df['Start Time'].dt.day_name()

    if month == "all":
        months = ['January', 'February', 'March', 'April', 'May', 'June']
        month_filter = df["Month"].isin(months)
    else:
        month_filter = df['Month'] == month

    if day == "all":
        days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        day_filter = df['Weekday'].isin(days)
        
    else:
        day_filter = df['Weekday'] == day

    df = df[day_filter & month_filter]

    return df

In [28]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month
    common_month = df['Month'].mode()[0]
    print('The most common month is:', common_month)

        # display the most common day of week
    common_day = df['Weekday'].mode()[0]
    print('The most common day is:', common_day)

        # display the most common start hour
    df['Hour'] = df['Start Time'].dt.hour
    common_hour = df['Hour'].mode()[0]
    print('The most common start hour is:', common_hour)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [29]:
df = load_data(city=city, month=month, day=day)

In [30]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,Weekday
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,June,Friday
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,May,Thursday
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,January,Wednesday
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,March,Monday
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,January,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,January,Saturday
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN,April,Friday
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0,February,Sunday
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN,April,Sunday
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,May,Tuesday

In [31]:
time_stats(df = df)

Calculating The Most Frequent Times of Travel...

The most common month is: June
The most common day is: Tuesday
The most common start hour is: 17

This took 0.0967416763305664 seconds.
----------------------------------------

In [32]:
# test_df['Weekday_number'] = test_df['Start Time'].dt.weekday
# test_df['Weekday_number'].plot.hist(bins=100)

In [33]:
df.shape

(300000, 12)

In [34]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    common_start_station = df['Start Station'].mode()[0]
    print('The most common start station is:', common_start_station)

    # display most commonly used end station
    common_end_station = df['End Station'].mode()[0]
    print('The most common end station is:', common_end_station)

    # display most frequent combination of start station and end station trip
    combination = df['Start Station'] + ' ' + '-' + ' ' + df['End Station']
    print('The most common combination of stations is:', combination.mode()[0])

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [35]:
station_stats(df = df)

Calculating The Most Popular Stations and Trip...

The most common start station is: Streeter Dr & Grand Ave
The most common end station is: Streeter Dr & Grand Ave
The most common combination of stations is: Lake Shore Dr & Monroe St - Streeter Dr & Grand Ave

This took 0.3371298313140869 seconds.
----------------------------------------

In [36]:
combination = df['Start Station'] + ' ' + '-' + ' ' + df['End Station']
print('The most common combination of stations is:', combination.mode()[0])

The most common combination of stations is: Lake Shore Dr & Monroe St - Streeter Dr & Grand Ave

In [37]:
f"The most common combination of stations is: {combination.mode()[0]}"

'The most common combination of stations is: Lake Shore Dr & Monroe St - Streeter Dr & Grand Ave'

In [38]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time


    # display mean travel time


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [39]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types


    # Display counts of gender


    # Display earliest, most recent, and most common year of birth


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [40]:
df['Start Station'].nunique()

568

In [41]:
df['Start Station'].value_counts()

Streeter Dr & Grand Ave         6911
Clinton St & Washington Blvd    4306
Lake Shore Dr & Monroe St       4289
Clinton St & Madison St         3744
Canal St & Adams St             3443
                                ...
Throop St & 52nd St                1
Ashland Ave & 69th St              1
Halsted St & 51st St               1
Racine Ave & 65th St               1
Ellis Ave & 83rd St                1
Name: Start Station, Length: 568, dtype: int64

In [42]:
# df['Trip Duration minutes'] = pd.to_datetime(df['Trip Duration minutes'])
# df['Trip Duration minutes']

In [43]:
df['Trip Duration minutes'] = df['Trip Duration'] / 60
df['Trip Duration minutes'].round(0).astype('int')

0          5
1         27
2          7
3          6
4          9
          ..
299995    10
299996    19
299997    23
299998    12
299999    17
Name: Trip Duration minutes, Length: 300000, dtype: int32

In [44]:
trip_duration_min = df['Trip Duration'] / 60
print('The average trip duration in minutes is:', trip_duration_min.mean().round(0).astype('int'))

The average trip duration in minutes is: 16

In [45]:
trip_duration = df['Trip Duration'] / 60
print('The average trip duration in minutes is:', trip_duration.mean())

The average trip duration in minutes is: 15.60398816666667

In [46]:
total_duration_hours = df['Trip Duration'] / 3600
print('The total trip duration in hours is:', total_duration_hours.sum().round(0).astype('int'))

The total trip duration in hours is: 78020

In [47]:
CITY_DATA

{'Chicago': 'chicago.csv',
 'New York City': 'new_york_city.csv',
 'Washington': 'washington.csv'}

In [48]:
CITY_DATA['Chicago']

'chicago.csv'

In [49]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,Weekday,Hour,Trip Duration minutes
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,June,Friday,15,5.350000
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,May,Thursday,18,26.833333
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,January,Wednesday,8,6.933333
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,March,Monday,13,5.833333
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,January,Tuesday,14,8.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,January,Saturday,13,9.833333
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN,April,Friday,19,18.983333
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0,February,Sunday,9,22.800000
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN,April,Sunday,17,11.750000
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,May,Tuesday,12,17.133333

In [72]:
lst = ["aaa","B","CSSASAew","sDDA","DSADSAEsssss"]

In [92]:


raw_data = input('\nWould you like to see the data?\nEnter yes or no:\n').lower()
if raw_data == 'yes':
        i = 0
        while True:
            print(df.iloc[i:i+5])
            i = i + 5
            five_more = input('Would you like to see five more rows? Enter yes or no: ').lower()
            if five_more == 'no':
                break

 2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year    Month    Weekday  Hour  Trip Duration minutes
0    Male      1992.0     June     Friday    15               5.350000
1  Female      1992.0      May   Thursday    18              26.833333
2    Male      1981.0  January  Wednesday     8               6.933333
3    Male      1986.0    March     Monday    13               5.833333
4    Male      1975.0  January    Tuesday    14               8.900000
   Unnamed: 0          Start Time             End Time  Trip Duration  \
5     1473887 2017-06-26 09:01:20  2017-06-26 09:11:06            586
6      961916 2017-05-26 09:41:44  2017-05-26 09:46:25            281
7       65924 2017-01-21 14:28:38  2017-01-21 14:40:41            723
8      606841 2017-04-20 16:08:51  2017-04-20 16:20:20            689
9      135470 2017-02-06 18:00:47  2017-02-06 18:09:00            493

                  Start Station                    End Station   User Type  \
5  Clinton St & Washington Blvd           Canal St & Taylor St  Subscriber
6         Ashland Ave & Lake St           Wood St & Hubbard St  Subscriber
7    Larrabee St & Kingsbury St     Larrabee St & Armitage Ave    Customer
8        Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber
9  Stetson Ave & South Water St   Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year     Month   Weekday  Hour  Trip Duration minutes
5    Male      1990.0      June    Monday     9               9.766667
6  Female      1983.0       May    Friday     9               4.683333
7     NaN         NaN   January  Saturday    14              12.050000
8    Male      1984.0     April  Thursday    16              11.483333
9    Male      1979.0  February    Monday    18               8.216667
    Unnamed: 0          Start Time             End Time  Trip Duration  \
10      175805 2017-02-15 07:09:55  2017-02-15 07:14:56            301
11       71678 2017-01-22 15:15:45  2017-01-22 15:31:02            917
12       19061 2017-01-08 16:03:00  2017-01-08 16:07:37            277
13     1023296 2017-05-30 15:46:18  2017-05-30 15:52:12            354
14      611000 2017-04-20 19:26:33  2017-04-20 19:35:08            515

                     Start Station                      End Station  \
10            Broadway & Barry Ave         Wilton Ave & Belmont Ave
11  Southport Ave & Wellington Ave           Clark St & Schiller St
12           Green St & Madison St         Ada St & Washington Blvd
13      Larrabee St & Kingsbury St                Clark St & Elm St
14           Canal St & Madison St  Racine Ave (May St) & Fulton St

     User Type  Gender  Birth Year     Month    Weekday  Hour  \
10  Subscriber  Female      1993.0  February  Wednesday     7
11  Subscriber    Male      1964.0   January     Sunday    15
12  Subscriber    Male      1961.0   January     Sunday    16
13  Subscriber    Male      1985.0       May    Tuesday    15
14  Subscriber    Male      1984.0     April   Thursday    19

    Trip Duration minutes
10               5.016667
11              15.283333
12               4.616667
13               5.900000
14               8.583333
    Unnamed: 0          Start Time             End Time  Trip Duration  \
15      958716 2017-05-25 22:59:33  2017-05-25 23:07:19            466
16      718598 2017-05-03 13:20:38  2017-05-03 13:31:13            635
17      931608 2017-05-23 08:08:25  2017-05-23 08:11:09            164
18     1469705 2017-06-25 21:26:30  2017-06-25 21:33:44            434
19      475456 2017-04-08 11:37:55  2017-04-08 11:51:55            840

               Start Station                     End Station   User Type  \
15   Clark St & Armitage Ave  Sheffield Ave & Wrightwood Ave  Subscriber
16  Ada St & Washington Blvd              Daley Center Plaza  Subscriber
17   Damen Ave & Cortland St    Marshfield Ave & Cortland St  Subscriber
18     State St & Pearson St          Clark St & Schiller St  Subscriber
19         Adler Planetarium                  Burnham Harbor    Customer

    Gender  Birth Year  Month    Weekday  Hour  Trip Duration minutes
15  Female      1985.0    May   Thursday    22               7.766667
16    Male      1967.0    May  Wednesday    13              10.583333
17    Male      1990.0    May    Tuesday     8               2.733333
18    Male      1987.0   June     Sunday    21               7.233333
19     NaN         NaN  April   Saturday    11              14.000000
    Unnamed: 0          Start Time             End Time  Trip Duration  \
20      849468 2017-05-16 06:36:17  2017-05-16 06:59:34           1397
21     1420915 2017-06-23 12:21:01  2017-06-23 12:32:54            713
22      161454 2017-02-12 15:24:29  2017-02-12 15:38:43            854
23     1413814 2017-06-22 19:14:37  2017-06-22 19:29:54            917
24      717248 2017-05-03 09:41:11  2017-05-03 09:49:10            479

                 Start Station                           End Station  \
20       Michigan Ave & Oak St           Halsted St & Wrightwood Ave
21          Rush St & Cedar St                Halsted St & Willow St
22  Clarendon Ave & Leland Ave           Lake Shore Dr & Belmont Ave
23   Bissell St & Armitage Ave  Orleans St & Chestnut St (NEXT Apts)
24   Wabash Ave & Roosevelt Rd             Halsted St & Roosevelt Rd

     User Type  Gender  Birth Year     Month    Weekday  Hour  \
20  Subscriber  Female      1992.0       May    Tuesday     6
21  Subscriber    Male      1985.0      June     Friday    12
22  Subscriber    Male      1980.0  February     Sunday    15
23  Subscriber  Female      1989.0      June   Thursday    19
24  Subscriber    Male      1992.0       May  Wednesday     9

    Trip Duration minutes
20              23.283333
21              11.883333
22              14.233333
23              15.283333
24               7.983333
    Unnamed: 0          Start Time             End Time  Trip Duration  \
25     1451810 2017-06-24 20:47:40  2017-06-24 21:13:39           1559
26      385517 2017-03-23 09:38:27  2017-03-23 09:42:41            254
27     1186035 2017-06-09 07:48:55  2017-06-09 07:52:30            215
28      512692 2017-04-11 18:49:57  2017-04-11 18:59:36            579
29      261757 2017-02-25 19:01:19  2017-02-25 19:08:10            411

               Start Station                          End Station   User Type  \
25        Rush St & Cedar St               Halsted St & Roscoe St  Subscriber
26  Loomis St & Jackson Blvd             Peoria St & Jackson Blvd  Subscriber
27     Canal St & Madison St               Clark St & Randolph St  Subscriber
28      Clinton St & Lake St  Mies van der Rohe Way & Chestnut St  Subscriber
29  Halsted St & Dickens Ave          Halsted St & Wrightwood Ave  Subscriber

    Gender  Birth Year     Month   Weekday  Hour  Trip Duration minutes
25    Male      1968.0      June  Saturday    20              25.983333
26  Female      1985.0     March  Thursday     9               4.233333
27    Male      1974.0      June    Friday     7               3.583333
28    Male      1989.0     April   Tuesday    18               9.650000
29    Male      1970.0  February  Saturday    19               6.850000
    Unnamed: 0          Start Time             End Time  Trip Duration  \
30      952396 2017-05-25 16:06:09  2017-05-25 16:12:49            400
31     1539334 2017-06-30 10:56:50  2017-06-30 11:40:20           2610
32     1359055 2017-06-19 17:43:17  2017-06-19 17:59:35            978
33     1187843 2017-06-09 09:08:19  2017-06-09 09:15:09            410
34      389463 2017-03-23 20:50:57  2017-03-23 20:57:19            382

                 Start Station                   End Station   User Type  \
30     Clinton St & Madison St  Financial Pl & Congress Pkwy  Subscriber
31             McCormick Place             Adler Planetarium    Customer
32  Larrabee St & Armitage Ave   Dearborn Pkwy & Delaware Pl  Subscriber
33  Halsted St & Diversey Pkwy  Sheffield Ave & Waveland Ave  Subscriber
34         Ellis Ave & 55th St         Kimbark Ave & 53rd St  Subscriber

    Gender  Birth Year  Month   Weekday  Hour  Trip Duration minutes
30    Male      1965.0    May  Thursday    16               6.666667
31     NaN         NaN   June    Friday    10              43.500000
32  Female      1993.0   June    Monday    17              16.300000
33    Male      1984.0   June    Friday     9               6.833333
34  Female      1993.0  March  Thursday    20               6.366667
    Unnamed: 0          Start Time             End Time  Trip Duration  \
35      243879 2017-02-22 15:33:56  2017-02-22 15:54:07           1211
36      165328 2017-02-13 14:17:25  2017-02-13 14:22:52            327
37      395803 2017-03-24 15:35:55  2017-03-24 15:46:10            615
38      720062 2017-05-03 16:27:08  2017-05-03 16:45:15           1087
39       93723 2017-01-26 19:45:41  2017-01-26 19:59:31            830

               Start Station                   End Station   User Type  \
35   Streeter Dr & Grand Ave           Theater on the Lake    Customer
36  University Ave & 57th St         Kimbark Ave & 53rd St  Subscriber
37     Dearborn St & Erie St       State St & Van Buren St  Subscriber
38         Clark St & Elm St     Michigan Ave & Pearson St    Customer
39      McClurg Ct & Erie St  Clinton St & Washington Blvd  Subscriber

    Gender  Birth Year     Month    Weekday  Hour  Trip Duration minutes
35     NaN         NaN  February  Wednesday    15              20.183333
36  Female      1984.0  February     Monday    14               5.450000
37    Male      1989.0     March     Friday    15              10.250000
38     NaN         NaN       May  Wednesday    16              18.116667
39    Male      1977.0   January   Thursday    19              13.833333
    Unnamed: 0          Start Time             End Time  Trip Duration  \
40     1314009 2017-06-16 19:34:44  2017-06-16 20:16:23           2499
41      601870 2017-04-20 07:47:23  2017-04-20 08:03:35            972
42      814960 2017-05-13 14:39:17  2017-05-13 14:40:40             83
43      915409 2017-05-22 05:49:43  2017-05-22 05:51:15             92
44     1372709 2017-06-20 16:14:15  2017-06-20 16:42:26           1691

                 Start Station                End Station   User Type Gender  \
40     State St & Van Buren St       McClurg Ct & Erie St    Customer    NaN
41  Indiana Ave & Roosevelt Rd  Wacker Dr & Washington St  Subscriber   Male
42   Humphrey Ave & Ontario St  Humphrey Ave & Ontario St  Subscriber   Male
43    Clark St & Congress Pkwy  LaSalle St & Jackson Blvd  Subscriber   Male
44     Streeter Dr & Grand Ave    Streeter Dr & Grand Ave    Customer    NaN

    Birth Year  Month   Weekday  Hour  Trip Duration minutes
40         NaN   June    Friday    19              41.650000
41      1992.0  April  Thursday     7              16.200000
42      1987.0    May  Saturday    14               1.383333
43      1967.0    May    Monday     5               1.533333
44         NaN   June   Tuesday    16              28.183333
    Unnamed: 0          Start Time             End Time  Trip Duration  \
45     1319064 2017-06-17 10:41:19  2017-06-17 10:55:32            853
46      461905 2017-04-06 14:58:44  2017-04-06 15:04:26            342
47      371076 2017-03-20 21:27:24  2017-03-20 21:39:02            698
48      906322 2017-05-21 10:03:55  2017-05-21 10:18:17            862
49      141745 2017-02-08 07:13:31  2017-02-08 07:16:17            166

                      Start Station                   End Station   User Type  \
45         Fairbanks Ct & Grand Ave       Clinton St & Madison St  Subscriber
46          Franklin St & Monroe St  Michigan Ave & Washington St  Subscriber
47              Morgan St & Lake St          Larrabee St & Oak St  Subscriber
48         McClurg Ct & Illinois St      McClurg Ct & Illinois St  Subscriber
49  Pine Grove Ave & Irving Park Rd    Clarendon Ave & Gordon Ter  Subscriber

   Gender  Birth Year     Month    Weekday  Hour  Trip Duration minutes
45   Male      1990.0      June   Saturday    10              14.216667
46   Male      1980.0     April   Thursday    14               5.700000
47   Male      1972.0     March     Monday    21              11.633333
48   Male      1990.0       May     Sunday    10              14.366667
49   Male      1986.0  February  Wednesday     7               2.766667
    Unnamed: 0          Start Time             End Time  Trip Duration  \
50      629006 2017-04-22 19:12:25  2017-04-22 19:15:41            196
51      724597 2017-05-04 05:46:01  2017-05-04 06:07:56           1315
52      157790 2017-02-11 15:11:34  2017-02-11 16:30:04           4710
53      959864 2017-05-26 07:31:20  2017-05-26 07:38:57            457
54      702079 2017-05-01 08:35:17  2017-05-01 08:49:02            825

                   Start Station                 End Station   User Type  \
50     Clark St & Wellington Ave  Halsted St & Diversey Pkwy  Subscriber
51     Clark St & Wrightwood Ave     Franklin St & Monroe St  Subscriber
52               McCormick Place      Wabash Ave & Wacker Pl    Customer
53  Clinton St & Washington Blvd        State St & Kinzie St  Subscriber
54       Sedgwick St & North Ave       Michigan Ave & Oak St  Subscriber

    Gender  Birth Year     Month   Weekday  Hour  Trip Duration minutes
50    Male      1988.0     April  Saturday    19               3.266667
51    Male      1966.0       May  Thursday     5              21.916667
52     NaN         NaN  February  Saturday    15              78.500000
53  Female      1967.0       May    Friday     7               7.616667
54    Male      1983.0       May    Monday     8              13.750000
    Unnamed: 0          Start Time             End Time  Trip Duration  \
55      239793 2017-02-22 07:51:44  2017-02-22 08:00:14            510
56     1526760 2017-06-29 13:50:47  2017-06-29 14:10:04           1157
57      697597 2017-04-29 09:46:00  2017-04-29 10:14:37           1717
58      265806 2017-02-27 07:20:11  2017-02-27 07:31:01            650
59      750957 2017-05-07 11:14:27  2017-05-07 11:20:55            388

                   Start Station                 End Station   User Type  \
55          Broadway & Barry Ave   Sedgwick St & Webster Ave  Subscriber
56   Lake Shore Dr & Belmont Ave  Lake Shore Dr & North Blvd    Customer
57            Clark St & Lake St   Ashland Ave & Division St  Subscriber
58  Clinton St & Washington Blvd       Dearborn St & Erie St  Subscriber
59      McClurg Ct & Illinois St       Rush St & Superior St  Subscriber

    Gender  Birth Year     Month    Weekday  Hour  Trip Duration minutes
55    Male      1988.0  February  Wednesday     7               8.500000
56     NaN         NaN      June   Thursday    13              19.283333
57  Female      1986.0     April   Saturday     9              28.616667
58    Male      1975.0  February     Monday     7              10.833333
59  Female      1987.0       May     Sunday    11               6.466667
    Unnamed: 0          Start Time             End Time  Trip Duration  \
60     1531732 2017-06-29 17:56:46  2017-06-29 18:00:36            230
61     1539175 2017-06-30 10:44:24  2017-06-30 11:11:03           1599
62      462221 2017-04-06 15:54:54  2017-04-06 16:00:06            312
63      402097 2017-03-26 11:40:10  2017-03-26 11:47:05            415
64      445106 2017-04-03 06:31:20  2017-04-03 06:43:33            733

                    Start Station                   End Station   User Type  \
60  Lakeview Ave & Fullerton Pkwy  Stockton Dr & Wrightwood Ave  Subscriber
61                Millennium Park       Streeter Dr & Grand Ave    Customer
62       McClurg Ct & Illinois St        State St & Randolph St  Subscriber
63           McClurg Ct & Erie St   Field Blvd & South Water St  Subscriber
64   Clinton St & Washington Blvd     Halsted St & Roosevelt Rd  Subscriber

    Gender  Birth Year  Month   Weekday  Hour  Trip Duration minutes
60  Female      1993.0   June  Thursday    17               3.833333
61     NaN         NaN   June    Friday    10              26.650000
62  Female      1984.0  April  Thursday    15               5.200000
63    Male      1964.0  March    Sunday    11               6.916667
64    Male      1966.0  April    Monday     6              12.216667
    Unnamed: 0          Start Time             End Time  Trip Duration  \
65     1381495 2017-06-21 06:45:13  2017-06-21 06:49:16            243
66      739835 2017-05-05 17:49:23  2017-05-05 18:00:34            671
67      468745 2017-04-07 13:38:53  2017-04-07 13:44:05            312
68     1341523 2017-06-18 16:17:10  2017-06-18 16:53:55           2205
69      165501 2017-02-13 14:54:42  2017-02-13 15:09:05            863

                Start Station                   End Station   User Type  \
65      Clark St & Berwyn Ave         Broadway & Berwyn Ave  Subscriber
66       Clinton St & Lake St          Ogden Ave & Race Ave  Subscriber
67  Southport Ave & Roscoe St      Wilton Ave & Belmont Ave  Subscriber
68   Fairbanks Ct & Grand Ave             Adler Planetarium    Customer
69      Wolcott Ave & Polk St  Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year     Month    Weekday  Hour  Trip Duration minutes
65   Male      1984.0      June  Wednesday     6               4.050000
66   Male      1991.0       May     Friday    17              11.183333
67   Male      1989.0     April     Friday    13               5.200000
68    NaN         NaN      June     Sunday    16              36.750000
69   Male      1969.0  February     Monday    14              14.383333
    Unnamed: 0          Start Time             End Time  Trip Duration  \
70      954416 2017-05-25 17:24:53  2017-05-25 17:31:16            383
71      527768 2017-04-13 17:37:27  2017-04-13 17:59:29           1322
72     1156328 2017-06-07 13:59:34  2017-06-07 14:02:55            201
73      132254 2017-02-06 09:36:50  2017-02-06 09:52:47            957
74     1140644 2017-06-06 15:05:25  2017-06-06 15:08:42            197

                Start Station                        End Station   User Type  \
70       Orleans St & Ohio St       Clinton St & Washington Blvd  Subscriber
71  Desplaines St & Kinzie St  Sangamon St & Washington Blvd (*)  Subscriber
72     Sedgwick St & Huron St           Kingsbury St & Kinzie St  Subscriber
73      Clark St & Leland Ave               Broadway & Ridge Ave  Subscriber
74     Halsted St & Willow St           Halsted St & Dickens Ave  Subscriber

    Gender  Birth Year     Month    Weekday  Hour  Trip Duration minutes
70    Male      1981.0       May   Thursday    17               6.383333
71  Female      1978.0     April   Thursday    17              22.033333
72    Male      1979.0      June  Wednesday    13               3.350000
73  Female      1960.0  February     Monday     9              15.950000
74    Male      1984.0      June    Tuesday    15               3.283333

In [90]:
df.iloc[1:6]

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,Weekday,Hour,Trip Duration minutes
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,May,Thursday,18,26.833333
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,January,Wednesday,8,6.933333
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,March,Monday,13,5.833333
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,January,Tuesday,14,8.900000
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0,June,Monday,9,9.766667

In [82]:
for word in lst:
    print(word.upper() )

AAA
B
CSSASAEW
SDDA
DSADSAESSSSS

In [83]:
user_types = df['User Type'].value_counts()
user_types

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [94]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,Weekday,Hour,Trip Duration minutes
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,June,Friday,15,5.350000
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,May,Thursday,18,26.833333
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,January,Wednesday,8,6.933333
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,March,Monday,13,5.833333
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,January,Tuesday,14,8.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,January,Saturday,13,9.833333
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN,April,Friday,19,18.983333
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0,February,Sunday,9,22.800000
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN,April,Sunday,17,11.750000
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,May,Tuesday,12,17.133333

In [146]:

city = 'Chicago'

 
if city == 'Washington':
    # Display counts of user types
    user_types_count = df['User Type'].value_counts()
    print(user_types_count)    
else:
    # Display counts of user types
    user_types_count = df['User Type'].value_counts()
    print(user_types_count)

    # Display counts of gender
    gender_count = df['Gender'].value_counts()
    print(gender_count)

    # Display earliest, most recent, and most common year of birth
    min_birth_year = df['Birth Year'].min()
    print('The earliest year of birth is:', min_birth_year)

    max_birth_year = df['Birth Year'].max()
    print('The most recent year of birth is:', max_birth_year)

    common_birth_year = df['Birth Year'].mode()[0]
    print('The most common year of birth is:', common_birth_year)

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64
Male      181190
Female     57758
Name: Gender, dtype: int64
The earliest year of birth is: 1899.0
The most recent year of birth is: 2016.0
The most common year of birth is: 1989.0

In [148]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

# adds the last element of the card_deck list to the hand list
# until the values in hand add up to 17 or more
while sum(hand)  < 17:
    hand.append(card_deck.pop())

In [168]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]

In [182]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1 
print("me")

1
2
3
me

In [185]:
while True:
    temp = float(input('Enter a value: '))
    if 0 <= temp <= 100:
        break
    print('Try again')

Try again
Try again

In [188]:
valid_cities = ["Chicago", "New York City", "Washington"]
city = "New York City"
city in valid_cities

True

In [189]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,Weekday,Hour,Trip Duration minutes
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,June,Friday,15,5.350000
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,May,Thursday,18,26.833333
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,January,Wednesday,8,6.933333
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,March,Monday,13,5.833333
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,January,Tuesday,14,8.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,January,Saturday,13,9.833333
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN,April,Friday,19,18.983333
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0,February,Sunday,9,22.800000
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN,April,Sunday,17,11.750000
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,May,Tuesday,12,17.133333

In [194]:
lst = ['Kristijan', 'pizza', 'fart']
new_lst = []
for item in lst:
    new_lst.append(item.upper())
print('Kristijan farts pizza farts')

Kristijan farts pizza farts

In [195]:
new_lst

['KRISTIJAN', 'PIZZA', 'FART']

In [5]:
CITY_DATA

{'Chicago': 'chicago.csv',
 'New York City': 'new_york_city.csv',
 'Washington': 'washington.csv'}

In [11]:
df

NameError: name 'df' is not defined